<main class="ms-5">
    <div class='nav m-4'>
        {{#with navigation}}
            {{#each links}}
                <div class='nav-item'>
                <a href='{{href}}' class='nav-link'>{{text}}</a>
                </div>
            {{/each}}
            <div class='nav-item'>
                <a href='#' class='nav-link disabled'>Disabled</a>
            </div>
        {{/with}}

    </div>
    <hr />

  
    <div class='col-4 ms-4 my-4'>
        {{#with header}}
            <div><h1>{{title}}</h1></div>
                {{#with button}}
                    <a href="{{link}}" class='btn btn-outline-secondary'>{{text}}</a>
                {{/with}}
            </div>
        {{/with}}
    </div> 

    <hr>

    <div>
        {{#each goodsBlock}}
            <div class="card m-2">
                <div class="row">
                    <div class="col-2 m-2">
                        <img class='card-img' src='{{image}}' />
                    </div>
                    <div class="col-5 my-3">
                        <h6>{{name}}</h6>
                        <p class="mt-3">{{description}}</p>
                    </div>
                    <div class="col-2 ms-4">
                        {{#with price}}
                            <div class="my-3">
                                {{title}}
                            </div>
                            <div class="my-3">
                                {{value}}
                            </div>
                        {{/with}}
                    </div>
                    <div class="col-2 m-3">
                        {{#each buttons}}
                            <div>
                                {{#if isPrimary}}
                                    <button class='btn btn-primary m-2'>{{text}}</button>
                                {{/if}}
                                {{#if isDanger}}
                                    <button class='btn btn-outline-danger m-2'>{{text}}</button>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}

    </div>


    <div class='ms-2'>
        {{#with total}}
            <div class="ms-3 my-3"><h4>{{title}}</h4></div>
            <div class="ms-3 my-1"><h2>{{amount}}</h2></div>
            <div class="ms-3">{{delivery}}</div>
            {{#each buttons}}
                <div>
                    {{#if isSuccess}}
                        <a href="{{link}}" class='btn btn-success m-2'>{{text}}</a>
                    {{/if}}
                    {{#if isOutline}}
                        <a href="{{link}}" class='btn btn-outline-success m-2'>{{text}}</a>
                    {{/if}}
                </div>
            {{/each}}
        {{/with}}
    </div>

    <hr>

    <div>
        {{#with goodsOtherBlock}}
            <div class="ms-3 my-3 text-center"><h4>{{title}}</h4></div>
            <div class='row ms-2'>
                {{#each cards}}
                    <div class='col-4 g-2'>
                        <div class='card'>
                            <img class='card-img-top' src='{{image}}' />
                            <div class='card-body text-bg-secondary'>
                            <h5 class='card-title'>{{title}}</h5>
                            {{#if isNew}}
                                <h6
                                class='badge text-bg-primary rounded-pill text-uppercase'
                                >New</h6>
                            {{/if}}
                            {{#if isHot}}
                                <h6
                                class='badge text-bg-warning rounded-pill text-uppercase'
                                >Hot</h6>
                            {{/if}}
                            <p>{{description}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/with}}
    </div>    
    
    <hr>

    <div class='col-12 ms-2 my-4'>
        {{#with subscribe}}
        <div class='card text-bg-dark'>
            <div class='card-header'><h2>{{header}}</h2></div>
            <div class='card-body'>
            <p>{{description}}</p>
            {{#each buttons}}
                <div class='m-3'>
                <a
                    href='{{link}}'
                    class='btn btn-primary'
                >{{text}}</a>
                </div>
            {{/each}}
            </div>
        </div>
        {{/with}}
    </div>

    <hr>

    
    <div class='row ms-5 my-4 '>
        {{#each footer}}
            <div class='col-2 nav flex-column'>
                {{#each this}}
                    <div class='nav-item'>
                        <a href='{{link}}'
                        class='nav-link {{#if @last}}disabled{{/if}}'
                        >{{text}}</a>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
    

</main>