<div>
  	<ul>
		{{#each elements}}
			<li>
				<div>
					<b> < {{name}} ></b> -
					<em>{{description}}</em>
				</div>
				<div>
					<ul>
						{{#each attributes}}
							<li>
								{{> attributes name=name decription=description}}
							</li>
						{{/each}}
					</ul>
				</div>
			</li>
		{{/each}}
	
		{{#each properties}}
			<li>
				<div>
					<b>{{name}}</b> -
					<em>{{description}}</em>
				</div>
				<div>
					<ul>
						{{#each values}}
							<li>
								{{> velues name=value decription=description}}
							</li>
						{{/each}}
					</ul>
				</div>
			</li>
		{{/each}}
	
		{{#each functions}}
			<li>
				<div>
					<b>{{name}}</b>
					<em>{{description}}</em>
				</div>
				<div>
					<ul>
						{{#each parameters}}
							<li>
								{{> parameters name=name type=type decription=description}}
							</li>
						{{/each}}
					</ul>
				</div>
			</li>
		{{/each}}
	</ul>
</div>